########################
# IDEs
########################
.idea/
.idea.*
.vscode/
*.sln.iml

########################
# Build artifacts
########################
bin/
obj/
out/
*.dll
*.exe
*.app
*.pdb
*.cache
*.db

########################
# User-specific files
########################
*.user
*.suo
*.userosscache
*.sln.docstates

########################
# Logs & diagnostics
########################
*.log
*.tlog
*.vspscc
*.vssscc

########################
# Entity Framework
########################
Migrations/

########################
# Docker
########################
docker-compose.override.yml
*.env
*.pid

########################
# OS junk
########################
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini
$RECYCLE.BIN/

########################
# Rider database tool
########################
.idea/.idea.ToDoApp/.idea/shelf/
.idea/.idea.ToDoApp/.idea/dataSources/
.idea/.idea.ToDoApp/.idea/dataSources.local.xml
.idea/.idea.ToDoApp/.idea/sqlDataSources.xml

########################
# Other
########################
*.ncrunch*
*.ndj
